{% extends 'Core/base.html' %}

{% block content %}
    <article>
        <h1>Áreas de Foco em Cuidados Especializados</h1>
        <section class="wrapper">
            <div>
                <h2 class="boxInfo">Imunologia</h2>
            </div>
            <div>
                <h2 class="boxInfo">Oncologia</h2>
            </div> 
            <div>
                <h2 class="boxInfo">Doenças raras</h2>
            </div>
            <div>
                <h2 class="boxInfo">Neurologia</h2>
            </div>
            <div>
               <h2 class="boxInfo">Distúrbios Sanguíneos Raros</h2> 
            </div>
        </section>
    </article>
{% endblock %}
